.login {
  // background: grey;
  display: flex;
  justify-content: center;
  // border: 1px solid blue;
  max-width: 600px;
  margin: 0 auto;

  .login__form {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }
}
